<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title id="title">TaskApp</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" defer src="script.js"></script>
</head>

<body>
    <navbar>
        <div class="rcntr" id="rctnr">
            <div class="icon" id="icon">
                <svg class="ico-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
                    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        d="m12.5 3.5l-4 14m-2-5l-4-4l4-4m8 12l4-4l-4-4" />
                </svg>
            </div>
            <span class="lbtn" id="btn-tasktitle">Preferences</span>
        </div>

        </div>

        <div class="lcntr" id="lcntr">
            <button class="btn" id="btn-closeapp">
                <svg id="ico-closeapp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="30px" height="30px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
                    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        d="m7.5 7.5l6 6m0-6l-6 6" />
                </svg>
            </button>
        </div>
    </navbar>

    <content>
        <div class="cntr-prefinp" id="cntr-prefinp">
            <div class="pref-form">
                <form class="pref" id="prefinp">
                        <div class="prefinp" id="name">
                            <label for="name">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Enter Name">
                        </div>
                        <div class="prefinp" id="completed">
                            <label for="completed">Show Completed Tasks?</label>
                            <input type="checkbox" id="showcompleted" name="completed" value="completed">
                        </div>
                        <div class="prefinp" id="overdue">
                            <label for="overdue">Show Overdue Tasks?</label>
                            <input type="checkbox" id="showoverdue" name="overdue" value="overdue">
                        </div>
                        <div class="prefinp" id="backup">
                            <label for="backup">Save Backups?</label>
                            <input type="checkbox" id="dobackup" name="backup" value="baclp">
                        </div>
                        <div class="prefinp" id="notify">
                            <label for="notify">Allow Notifications?</label>
                            <input type="checkbox" id="shownotify" name="notify" value="notify">
                        </div>
                        <div class="prefinp" id="interval">
                            <label for="interval">Notification Interval:</label>
                            <input type="text" id="notifinterval" name="interval" value="60">
                        </div>
                        <div class="prefinp" id="time-from">
                            <label for="time">Active From</label>
                            <input type="time" id="timefrom" name="timefrom" placeholder="from" required>
                        </div>
                        <div class="prefinp" id="time-to">
                            <label for="timeto">Active Until</label>
                            <input type="time" id="timeto" name="timeto" placeholder="to" required>
                        </div>
                        <div class="prefinp" id="import">
                            <label for="import">Import Tasks</label>
                            <input type="button" id="import" name="import" value="import">
                        </div>
                        <div class="prefinp" id="export">
                            <label for="export">Export Tasks</label>
                            <input type="button" id="export" name="export" value="export">
                        </div> 
                        <div class="prefinp" id="save">
                            <input type="submit" id="save" name="save" value="save">
                        </div>
                </form>
            </div>
        </div>


    </content>

</body>

</html>