<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form id="taskinp">
        <div id="taskinp-name">
            <label>Task Name</label>
            <input class="inp-taskname" id="inp-taskname" type="text">
        </div>
        <div id="taskinp-for">
            <label>For</label>
            <input class="inp-taskfor" id="inp-taskfor" type="text">
        <div id="taskinp-date">
            <label>Due Date</label>
            <input class="inp-taskdate" id="inp-taskdate" type="datetime">
        </div>
        <div id="taskinp-desc">
            <label>Description</label>
            <input class="inp-taskdesc" id="inp-taskdesc" type="text">
        </div>
        <div id="taskinp-submit">
            <input class="inp-tasksubmit" id="inp-tasksubmit" type="submit">
        </div>
        <script>
            const { ipcRenderer } = require("electron")
            const fs = require("fs")

            // get data from form and send to server
            document.getElementById("inp-tasksubmit").addEventListener("click", function (event) {
                event.preventDefault();
                var taskname = document.getElementById("inp-taskname").value;
                var taskfor = document.getElementById("inp-taskfor").value;
                var taskdate = document.getElementById("inp-taskdate").value;
                var taskdesc = document.getElementById("inp-taskdesc").value;
                ipcRenderer.send("task-edit", JSON.stringify({
                    taskname: taskname,
                    taskfor: taskfor,
                    taskdate: taskdate,
                    taskdesc: taskdesc
                }));
            });



            </script>
    </form>

</body>

</html>