<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="sidebar" id="sidebar">


    </div>


    <div class="cntr-tsklist" id="cntr-tsklist">
      <div class="list" id="list">
        <script type="module" defer src="script.js">

        </script>
        <button id="testbtn">

        </button>
      </div>
      <div class="btns" id="btns">

        <button class="btn-addtskmnu" id="btn-addtskmnu">
          <img src="https://api.iconify.design/system-uicons/button-add.svg">
        </button>
        <div class="menu-newtask" id="menu-newtask">
          <button class="btn-newtask" id="btn-newtask">New Task</button>
          <button class="btn-imptask" id="btn-imptask">Import Task</button>
        </div>
        
        <button class="btn-togglefltrs" id="btn-togglefltrs">
          <img src="https://api.iconify.design/system-uicons/filter.svg">
        </button>
        <div class="menu-filter" id="menu-filter">
          <button class="btn-toggledone" id="btn-toggledone">Show Completed Tasks</button>
          <button class="btn-toggleovrdue" id="btn-toggleovrdue">Show Overdue Tasks</button>
        </div>
        
        <button class="btn-closeapp" id="btn-closeapp">
          <img src="https://api.iconify.design/ep/close.svg">
        </button>
      </div>
    </div>


    <div class="cntr-form" id="cntr-form">
      <form>

        <div class="form-title" id="form-title">
          <label>Enter Title</label>
          <input class="inp-title" id="inp-title" type="text">
        </div>

        <div class="form-for" id="form-for">
          <label>For</label>
          <input class="inp-for" id="inp-for" type="text">
        </div>

        <div class="form-due" id="form-due">
          <label>Due Date</label>
          <input class="inp-duedate" id="inp-duedate" type="datetime">
        </div>

        <div class="form-desc" id="form-desc">
          <label>Description</label>
          <input class="inp-desc" id="inp-desc" type="text">
        </div>

        <div class="form-submit" id="for,-submit">
          <input class="inp-title" id="inp-title" type="submit">
        </div>

      </form>
      <script id="src-submit">

        const electron = require('electron');
        const { ipcRenderer } = electron;

        // Form Submitter
        /*
        document.querySelector('form').addEventListener('submit', submitForm);

        function submitForm(e) {
          e.preventDefault();
          const item = document.querySelector('#item');
          //console.log(ipcRenderer);
          //ipcRenderer.send('item:add', item);
          const formData = new FormData(item)
          for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
          }
        }
        */
      </script>
    </div>

  </body>
</html>
