<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <navbar>
      <script type="module" defer src="script.js"></script>
      <div class="rcntr" id="rctnr">
        <div class="icon" id="icon">
          <svg class="ico-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px"
            height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              d="m12.5 3.5l-4 14m-2-5l-4-4l4-4m8 12l4-4l-4-4" />
          </svg>
        </div>
        <button class="lbtn" id="btn-file">file</button>
        <button class="lbtn" id="btn-edit">edit</button>
        <button class="lbtn" id="btn-view">view</button>
      </div>

      </div>

      <div class="lcntr" id="lcntr">
        <button class="btn" id="btn-closeapp">
          <svg id="ico-closeapp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m7.5 7.5l6 6m0-6l-6 6" />
          </svg>
        </button>
        <button class="btn" id="btn-minmax">
          <svg id="ico-minmax" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              d="M5.5 3.5h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2z" />
          </svg>
        </button>
        <button class="btn" id="btn-reduce">
          <svg id="ico-reduce" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.5 10.5h10" />
          </svg>
        </button>
      </div>
    </navbar>

    <content>
      <div class="cntr-tasklist" id="cntr-tasklist">

        <a class="task-padding">
          <div class="task-item">
            <div class="task-card">
              <div class="task-grid">
                <div class="task-id">
                  <div class="task-heading">
                    <span>${data.heading}</span>
                  </div>
                  <div class="task-whowhen">
                    <a>For: ${data.whoFor} on: ${data.dueDate}</a>
                  </div>
                </div>
                <div class="task-description">
                  <p>${data.description}</p>
                </div>
                <div class="task-btns">
                  <div class="edit-btn">
                    <span class="btn-edit-task">Edit</span>
                  </div>
                  <div class="delete-btn">
                    <span class="btn-delete-task">Delete</span>
                  </div>
                </div>
              </div>
            </div>
        
        </a>

      <div class="cntr-taskinp" id="cntr-taskinp">
        <form id="taskinp">
          <div id="taskinp-name">
            <label>Task Name</label>
            <input class="inp-taskname" id="inp-taskname" type="text" placeholder="task title...">
          </div>
          <div id="taskinp-for">
            <label>For</label>
            <input class="inp-taskfor" id="inp-taskfor" type="text" placeholder="for...">
          <div id="taskinp-date">
            <label>Due Date</label>
            <input class="inp-taskdate" id="inp-taskdate" type="date" placeholder="dd-mm-yyyy">
          </div> 
          <div id="taskinp-desc">
            <label>Description</label>
            <textarea class="inp-taskdesc" id="inp-taskdesc" placeholder="task description..."></textarea>
          </div>
          <div id="taskinp-submit">
            <input class="inp-tasksubmit" id="inp-tasksubmit" type="submit">
          </div>
        </form>
      </div>


    </content>

  </body>
</html>
