:root{
    --Background: #282C34;
    --Bar: #21252B;
    --Selection-Background: #3A3F4B;
    --BG: #3c4150;
    --Foreground: #979FAD;
    --Text: #979FAD;
    --Disabled: #6B727D;

    --Selection-Foreground: #FFFFFF;
    --Buttons: #3A3F4B;
    --Second-Background: #2F333D;
    --Active: #383E49;
    --Border: #282C34;
    --Hlight: #383D48;
    --Tree: #3A3F4B;
    --Notifications: #282C34;
    --Accent: #2979ff;
    --Comments: #59626F;
    --Links: #56B6C2;
    --Functions: #61AEEF;
    --Keywords: #C679DD;
    --Tags: #F07178;
    --Strings: #98C379;
    --Operators: #61AFEF;
    --Attributes: #E5C17C;
    --Numbers: #D19A66;
    --Parameters: #ABB2BF;


    --padding: 5px;
    --bar-height: 30px;
    --bar-btn-width:35px;



    background-color: var(--BG);
}


navbar {
    -webkit-app-region: drag;
    /* Allow user to drag the window using this titlebar */
    -webkit-user-select: none;
    -webkit-app-region: drag;
    /* Prevent user from selecting things */
    user-select: none;
    position: fixed;
    top:0%;
    height: auto;
    background-color: var(--Bar);
    width: 100%;
    padding: 0%;
    margin: 0%;
    left: 0%;
}


navbar .icon {
    float: left;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    color: var(--Disabled)
}
navbar .btn{
    -webkit-app-region:no-drag;
    float: right;
    top:0%;
    height: auto;
    width: var(--bar-btn-width);
    padding-left: 5px;
    padding-right: 5px;
    
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--Bar);
    color: var(--Disabled);
    
}

/*center navbar #ico-minmax*/
navbar #ico-minmax{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    padding: 25%;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
}



navbar .btn :hover {
    background-color: var(--Selection-Background);

}

content {
    position: fixed;
    top: var(--bar-height);
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--Background);
    color: var(--Text);
    font: 20px/1.2em 'comic sans ms', sans-serif;
    padding: var(--padding);
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0%;
}


